<div class="container mt-4">
    <!-- <input nz-input [(ngModel)]="searchText" placeholder="Enter text to search" />
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let content of characters | projectTemplateFilter: searchText">
            {{content.alias}}
        </li>
    </ul> -->
    <!-- <div id="g_id_onload" data-client_id="737706466412-uuumub4vohnks8u5n4hhjd1g2rqr5rot.apps.googleusercontent.com"
        data-login_uri="http://localhost:4200/sample-search" data-auto_prompt="false">
    </div>
    <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
        data-shape="rectangular" data-logo_alignment="left">
    </div> -->
    <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true"></div>  -->
    <div id="buttonDiv"></div>
</div>