<nz-layout class="left-layout">
    <nz-sider nzTheme="dark" nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="200px">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzTitle="User" nzIcon="user">
                <ul>
                    <li nz-menu-item>Tom</li>
                    <li nz-menu-item>Bill</li>
                    <li nz-menu-item>Alex</li>
                    <li nz-menu-item>James</li>
                    <li nz-menu-item>Alex</li>
                    <li nz-menu-item>Catherine</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Team" nzIcon="team">
                <ul>
                    <li nz-menu-item>Team 1</li>
                    <li nz-menu-item>Team 2</li>
                    <li nz-menu-item>Team 3</li>
                    <li nz-menu-item>Team 4</li>
                    <li nz-menu-item>Team 5</li>
                    <li nz-menu-item>Team 6</li>
                </ul>
            </li>
            <li nz-menu-item>
                <i nz-icon nzType="file"></i>
                <span>File</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout class="right-layout">
        <nz-header>
            <!-- HEADER CONTENT WILL COME HERE -->
        </nz-header>
        <nz-content>
            <nz-breadcrumb>
                <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="inner-content">
                <!-- MAIN CONTENT WILL COME HERE -->
                <div class="row" style="border: 1px solid black;">
                    <div class="col-md-6">
                        BOOTSTRAP
                    </div>
                    <div class="col-md-6">
                        IS ENABLED
                    </div>
                </div>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>