This is Dashboard
<div class="row">
    <div class="col-md-3"><button id="step1" nz-button nzType="primary"
            (click)="filterClick('projectManager')">Button
            1</button></div>
    <div class="col-md-3"><button id="step2" nz-button nzType="primary" (click)="gotoStep2()">Button
            2</button></div>
    <div class="col-md-3"><button id="step3" nz-button nzType="primary">Button 3</button></div>
    <div class="col-md-3"><button id="step4" nz-button nzType="primary">Button 4</button></div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="row">
    <div class="col-md-3"><button id="step5" nz-button nzType="primary"
            (click)="filterClick('projectManager')">Button
            1</button></div>
    <div class="col-md-3"><button id="step6" nz-button nzType="primary" (click)="gotoStep2()">Button
            2</button></div>
    <div class="col-md-3"><button id="step7" nz-button nzType="primary">Button 3</button></div>
    <div class="col-md-3"><button id="step8" nz-button nzType="primary">Button 4</button></div>
</div>