.logo {
  height: 32px;
  background: #1890ff;
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

.left-layout {
  height: 100vh;
}

.right-layout {
  margin-left: 0px;
}

nz-sider {
  overflow: auto;
  height: 100%;

  left: 0;
}

nz-content {
  margin: 24px 16px 0;
  overflow: initial;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 16px;
  background: #fff;
  min-height: 360px;
  text-align: center;
}

nz-footer {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  left: 0px;
  background: #fff;
}
