This is Workplace
<div class="row">
    <div class="col-md-3"><button id="step11" nz-button nzType="primary"
            (click)="filterClick('projectManager')">Button
            1</button></div>
    <div class="col-md-3"><button id="step12" nz-button nzType="primary" (click)="gotoStep2()">Button
            2</button></div>
    <div class="col-md-3"><button id="step13" nz-button nzType="primary">Button 3</button></div>
    <div class="col-md-3"><button id="step14" nz-button nzType="primary">Button 4</button></div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="row">
    <div class="col-md-3"><button id="step15" nz-button nzType="primary"
            (click)="filterClick('projectManager')">Button
            1</button></div>
    <div class="col-md-3"><button id="step16" nz-button nzType="primary" (click)="gotoStep2()">Button
            2</button></div>
    <div class="col-md-3"><button id="step17" nz-button nzType="primary">Button 3</button></div>
    <div class="col-md-3"><button id="step18" nz-button nzType="primary">Button 4</button></div>
</div>